/*This styles the navigation bar above*/
.navbar{
    height: 100px;
    background-color: orange;
    background-image: linear-gradient();
    display:flex;
    align-items: center;
    gap: 1rem;
}
.title{
    position: relative;
    color:black;
    font-size: xx-large;
    left: 1rem;
    font-family: "Playwrite CO", cursive;
    font-weight: bolder;
}
.options{
    display: flex;
    align-items: center;
    justify-content: end;
    gap:20px;
    margin-left: 40%;
}
.buttons{
    background-color: orange;
    background-blend-mode: color-burn;
    color: black;
    font-family: "Playwrite CO", cursive;
    border-radius: 20%;
    border-style: none;
    font-size: large;
    font-weight: bolder;
}




/*This contains the grid of the middle element*/
.gridcontainer{
    position: relative;
    width:150vh;
    height: 80vh;
    display:grid;
    top: 5vh;
    gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

}
.center{
    display:flex;
    justify-content: center;
}
.logo{
    position:relative;
    width: 400px;
    height: 400px;
    background-image: url('../images/profile\ -\ Copy.jpeg');
    background-size: 400px 400px;
    background-position: -10px;;
    border-radius: 50%;
    border: 5px solid black;
    justify-content: center;
}
.logogrid{
    grid-area: 1/2/4/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textgrid{
    grid-area: 2/1/3/2;
    font-family: "Playwrite CO", cursive;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap:20px;
    
}
.textgrid>h1{
    color: white;
    font-family: "Playwrite CO", cursive;
    font-weight: 600;
}
.textgrid>p{
    font-size:large;
    word-spacing: 5px;
    line-height: 48px;
}



/*This is about the languages i know*/
.about-container{
    display: flex;
    width: 98vi;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 80px;
    width: 70vi;
    height: 80vh;
}
.about-items{
    background-color: white;
    background-image: var(--bs-gradient);
    border-radius: 15%;
    display: flex;
    align-items: center;
    box-shadow: var(--bs-box-shadow);
}
.about-icons{
    height: 70px;
    margin-left: 2rem;
}
.about-text{
    margin-left: 1rem;
    font-family: "Playfair Display", serif;
    font-size: large;
    font-weight: bolder;
    color: black;
}
#python>.about-text{
    font-size: 20px !important;
}
.no{
    display: none;
}


/*This is the styling of the information page*/
#center-info{
    height: 100vh;
}
.info{
    position: relative;
    top: 10rem;
    display: grid;
    width: 80vi;
    height: 60vh;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
}
.info-elements{
    background-color: white;
    border-radius: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
}
.bluebox-container{
    grid-area: 1/2/3/4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bluebox{
    background-color: rgb(214, 160, 61);
    width: 6rem;
    height: 6rem;
    border-radius: 10%;
    box-shadow: var(--bs-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.infotext-container{
    grid-area: 3/1/5/5;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
}
.infotext{
    font-family: "Playfair Display", serif;
    color:black;
    font-weight: 400;
    font-size: 24px;
}

.take-container{
    grid-area: 5/2/6/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.take{
    background-color: rgb(214, 160, 61);
    height: 50px;
    width: 300px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    
}
.take-button{
    background-color: rgb(214, 160, 61);
    border-style: none;
    font-family: "Playfair Display", serif;
    color:black;
    font-weight: 600;

}




.top-icon{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: grey;
    top:80vh;
    left:93vi;
    border-radius: 20%;
}


.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: white;
    font-family: "Playfair Display", serif;
}
.line{
    background-color: white;
    height: 3px;
    width: 98vi;
    margin-bottom: 10px;
}

.dropdown{
    width: 200px;
    height: 200px;
}

@media (max-width:600px){
    .options{
        display: none;
    }
    .gridcontainer{
        position: relative;
        width:150vh;
        height:100vh;
        display:flex;
        flex-direction: column;
        top: 5vh;
        gap: 2px;
    
    }
    .center{
        display:flex;
        justify-content: center;
    }
    .logo{
        position:relative;
        width: 270px;
        height: 270px;
        background-image: url('../images/profile\ -\ Copy.jpeg');
        background-size: 400px 400px;
        background-position: -70px;
        border-radius: 50%;
        border: 5px solid black;
        justify-content: center;
    }
    .logogrid{
        grid-area: 1/2/4/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textgrid{
        grid-area: 2/1/3/2;
        font-family: "Playwrite CO", cursive;
        color: white;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        gap:20px;
        order: 1;
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .textgrid>h1{
        position: relative;
        color: white;
        font-family: "Playwrite CO", cursive;
        font-weight: 600;
        justify-content: center;
    }
    .textgrid>p{
        font-size:large;
        word-spacing: 5px;
        line-height: 35px;
    }


    .about-container{
        display: flex;
        width: 98vi;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .about-grid{
        display:flex;
        flex-direction: column;
        width: 70vi;
    }
    .about-items{
        background-color: white;
        background-image: var(--bs-gradient);
        border-radius: 15%;
        display: flex;
        align-items: center;
        box-shadow: var(--bs-box-shadow);
    }
    .about-icons{
        height: 70px;
        margin-left: 2rem;
    }
    .about-text{
        margin-left: 1rem;
        font-family: "Playfair Display", serif;
        font-size: large;
        font-weight: bolder;
        color: black;
    }
    #python>.about-text{
        font-size: 20px !important;
    }
    .no{
        display: none;
    }

    #center-info{
        height: 250px;
    }
    .info{
        position: relative;
        display:flex;
        flex-direction: row;
        align-items: start;
        width:80vi;
        gap:20px;
        top: 0px;
        height: auto;
    }
    .info-elements{
        background-color: white;
        border-radius: 20%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows:repeat(3,1fr);
        height: 200px;
        width: 200px;
    }
    .bluebox-container{
        grid-area: 1/2/2/4;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .bluebox{
        background-color: rgb(214, 160, 61);
        width: 3rem;
        height: 3rem;
        border-radius: 10%;
        box-shadow: var(--bs-box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;   
        margin-top:1rem;
    }
    .info-icon{
        width: 30px;
        height: 30px;
    }
    .infotext-container{
        display: none;
    }
    .take-container{
        grid-area: 2/2/4/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .take{
        background-color: rgb(214, 160, 61);
        height: 50px;
        width: 300px;
        border-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        
    }
    .take-button{
        background-color: rgb(214, 160, 61);
        border-style: none;
        font-family: "Playfair Display", serif;
        color:black;
        font-weight: 600;
        font-size: 13px;
    
    }


    .top-icon{
        display: none;
    }

}


